{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Add A New Category{% endblock %}

{% block extrascripts %}
{% endblock %}

{% block content %}
{% if messages %}<p style="color: red">{{ messages }}</p>{% endif %}
{% if form.errors %}
{{ form.errors }}
{% endif %}
<h1>Add A New Category</h1>
<form method="POST" action="." id="new-category-form" enctype="multipart/form-data">
<table class="table">
{% csrf_token %}
{{ form }}
</table>
<button class="btn btn-danger">Add Category</button>
</form>
{% endblock %}
