{% extends 'base.html' %}

{% block title %}Add New Post{% endblock %}

{% block content %}
<h1>Add New Post</h1>

{% if form.errors %}
    <span class="label label-danger">Errors with your form!</span>
    <p class="text-danger">
        Please correct the error{{ form.errors|pluralize }} below.
    </p>
{% endif %}
<form action="." method="POST">
{% csrf_token %}

<table class="table">
{{ form.as_table }}
</table>

<input type="submit" class="btn btn-default" value="Submit">
</form>

{% endblock %}
