{% extends 'base.html' %}

{% block title %}Submit New Idea{% endblock %}

{% block extrascripts %}{% endblock %}

{% block content %}

<h1>Submit A New Idea</h1>
<p>Please fill out the form below to submit your idea. It will be reviewed by others.</p>

{% if form.errors %}
<p>Please correct the following errors: {{ form.errors }}</p>
{% endif %}

<form method="POST" action="." id="new-idea-form">
{% csrf_token %}
<table class="table">
{{ form }}
</table>
<button class="btn">Share your idea</button>
</form>

{% endblock %}
