<!DOCTYPE html>
<html>
    <head>

        <title>{% block title %}{{ settings.BLOG_TITLE }}{% endblock %}</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css">

        <!-- Latest compiled and minified JavaScript -->
        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js"></script>

        <meta name="viewport" content="width=device-width, initial-scale: 1.0">
    </head>
    <body>
        <div class="container">
            <div class="navbar navbar-inverse">
                <a class="navbar-brand" href="/">Blog Title</a>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Blog Home</a></li>
                    <li><a href="/about/">About Me</a></li>
                    <li><a href="/contact/">Contact Me</a></li>
                </ul>
                <button type="button" class="btn btn-default navbar-btn pull-right">Admin</button>
            </div>
            
            <div class="body-content">
            {% block content %}
                <div class="row">
                    <!-- main content area -->
                    <div class="col-lg-9">
                    {% block content %}
                    {% endblock %}
                    </div>
                    <!-- sidebar -->
                    <div class="col-lg-3">
                        <h3>Recent Articles</h3>
                        <ul>
                            <li><a href="#">Article 3</a></li>
                            <li><a href="#">Article 2</a></li>
                            <li><a href="#">Article 1</a></li>
                        </ul>

                    </div>
                </div>

            </div><!-- body-content -->
            <hr>
            <footer>
                Copyright &copy;2013 Dan Purcell. All rights reserved.
            </footer>
        </div><!-- container -->
    </body>
<html>
